.kk__footer-container {
	background-color: #f3f3f3;
	margin-top: 9rem;
}

.kk__footer-content {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	padding-top: 3rem;
}

.kk__footer-logo img {
	width: 10rem;
}

.kk__footer-social {
	display: flex;
	gap: 2rem;
	font-family: inter;
}

.kk__footer-social a {
	text-decoration: none;
	color: #7a7a7a;
	font-size: 12px;
	transition: all 400ms ease-in-out;
}

.kk__footer-social a:hover {
	color: #000;
}

.kk__footer-copyright {
	margin-bottom: 5px;
}

@media (max-width: 390px) {
	.kk__footer-social a {
		font-size: 10px;
	}
	.kk__footer-copyright {
		font-size: 10px;
	}
}
